{% extends "network/layout.html" %} 
{% load static %}

{% block body %}
    <main id="main">
        <h1 class="title" data-page="index" id="title">All Post</h1>
        {% if user.is_authenticated %}
            <div id="newPost"">
                <form id="form">
                    <h3 class="form-header">New Post</h3>
                    <textarea class="form-element" id="form-text" cols="30" rows="10"></textarea>
                    <input type="hidden" id="form-user" value="{{ user.id }}">
                    <input class="form-element" type="submit" value="Post">
                </form>
            </div>
        {% endif %}

        <div id="display">
            {% if venues %}
                {% include "network/display.html" %}    
            {% else %}
                <h1 id="message">Nobody has posted anything</h1>
            {% endif %}
        </div>

        {% include "network/nav.html" %}   
    </main>
{% endblock %}
{% block script %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock%}