{% extends "network/layout.html" %} 
{% load static %}

{% block body %}
<h1 id="title"></h1>
<main>
    <div id="newPost"">
        <form id="form">
            <h3 class="form-header">New Post</h3>
            <textarea class="form-element" id="form-text" cols="30" rows="10"></textarea>
            <input type="hidden" id="form-user" value="{{ user.id }}">
            <input class="form-element" type="submit" value="Post">
        </form>
    </div>

    <div id="allPost"">
      <!-- {% for post in posts %}
      <div class="post">
        <p class="post-header">{{ post.user }}</p>
        <p class="post-time post-element">{{ post.time }}</p>
        <p class="post-element">{{ post.text }}</p>
        <p class="post-element">{{ post.like.all.count }}</p>
      </div>
      {% endfor %} -->
    </div>
</main>


{% endblock %}
{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock%}