{% extends "network/layout.html" %}

{% block body %}

    <main id="main">
        <h2 id="title">Login</h2>

        {% if message %}
            <h2 id="message" class="form-space">{{ message }}</h2>
        {% endif %}

        <form action="{% url 'login' %}" method="post" id="display">
            {% csrf_token %}
            <div class="form-group form-input">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group form-input">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <input class="btn btn-primary form-space" type="submit" value="Login">
        </form>

        <h2 id="message" class="form-space">Don't have an account?</h2>
        <a href="{% url 'register' %}">Register here.</a>
    </main>
    
{% endblock %}