/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* index.html */
main {
  padding: 2%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newPost {
  width: 75%;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

#newPost > form
{
   display: flex;
   flex-direction: column;
}

#newPost .form-header
{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

#newPost .form-element
{
    margin-bottom: 5px;
}

#newPost input[type="submit"]
{
    width: 5%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
}

#newPost textarea
{
    resize: none;
}

#display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.post {
  border: 1px solid black;
  background-color: lightblue;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 75%;
  height: 100%;
  padding: 20px;
}

.post-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.post-element {
  padding: 5px 0;
}

.post-time {
  color: gray;
}
